﻿
@{
    ViewBag.Title = "Contacto";


}
@Styles.Render("~/Content/Styles3.css")
@Scripts.Render("~/Scripts/main.js")


<div class="contenedor">
    <div class="contactos">

        <form action="" method="post">

            <h2>CONTACTO</h2>
            <input type="text" name="Nombre" placeholder="Nombre" id="nombre" required>
            <input type="email" name="Correo" placeholder="Correo electróico" id="correo" required>
            <input type="text" name="Asunto" placeholder="Asunto" id="asunto" required>
            <textarea name="mensaje" id="mensaje" placeholder="mensaje" required></textarea>
            <button type="button" id="boton" onclick="validarFormulario()">Enviar</button>


        </form>
    </div>

    <div class="ubicacion">
        <h2>HORARIOS DE ATENCION</h2>
        <h3>Correo Electronico</h3>
        <div id="map">

        </div>

    </div>


    @if (!String.IsNullOrEmpty(ViewBag.alerta))
    {
        <script type="text/javascript">
            alert("@ViewBag.alerta");
        </script>

    }

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>
</div>



