body {
    margin: 0 20px;
    background-color: #f0fff0;
    font-family: sans-serif;
} 
 
h1 {
    margin: 0;
} 
 
main {
    display: block;
    overflow: auto;
    background-color: #86d0a3;
} 
 
section {
    float: left;
    width: 544px;
    border: #20b2aa 5px solid;
    border-top: none;
    margin: 10px;
    background-color: #dcdcdc;
} 
 
h2 {
    margin: 0;
    background-color: #20b2aa;
} 
 
article {
    float: left;
    width: 240px;
    border: #008080 5px solid;
    border-top: none;
    margin: 10px; 
    background-color: #20b2aa;
} 
 
h3 {
    margin: 0;
    padding-left: 5px;
    background-color: #008080;
    color: #ffffff;
    font-size: 24px;
} 
 
p {
    margin: 5px;
} 
 
footer {
    clear: both;
} 
 
footer p {
    margin: 10px 0;
    font-size: 12px;
    text-align: center;
}