body {
    margin: 0 20px;
    background-color: #f0fff0;
    font-family: sans-serif;
    }
    h1 {
    margin: 0;
    }
    main {
    display: block;
    overflow: auto;
    background-color: #86d0a3;
    
    }
    section {
    float: left;
    width: 544px;
    border: #20b2aa 5px solid;
    border-top: none;
    margin: 10px;
    background-color: #dcdcdc;
    /*position: absolute*/
    }
    h2 {
    margin: 0;
    background-color: #20b2aa;
    }
    article {
    float: left;
    width: 240px;
    border: #008080 5px solid;
    border-top: none;
    margin: 10px;
    
  
    background-color: #20b2aa;
    }
    h3 {
    margin: 0;
    padding-left: 5px;
    background-color: #008080;
    color: #ffffff;
    font-size: 24px;
    }
    p {
    margin: 5px;
    }
    footer {
    clear: both;
    }
    footer p {
    margin: 10px 0;
    font-size: 12px;
    text-align: center;
    }
.cajapadre{
    
    width: 100%;
    height: 800px;
    /*background-color:black;*/
    position: relative;
}
.uno{
    position: absolute;
    top: 0px;
    bottom:0px;
    right: 0px;
    left: 0px;
    width: 675px;
    height: 550px;
}
.dos{
    position: absolute;
    top: 350px;
    bottom:350px;
    right: 200px;
    left: 50px;
    width: 350px;
    height: 240px;
}
.tres{
    position: absolute;
    top: 50px;
    bottom:350px;
    right: 200px;
    left: 575px;
    width: 600px;
    height: 275px;
}
.cuatro{
    position: relative;
    width: 1800px;
    height: 30px;
}
.cinco{
    position: absolute;
    top: 400px;
    bottom:350px;
    right: 200px;
    left: 525px;
    width: 200px;
    height: 100px;
}
