main{
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 500px;
    background-color: #FFA07A;
}

p{
    margin: 0;
    font-family: sans-serif;
    font-size: 300%;
    text-align: center;
}
p#sup-izq {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: #FA8072;
} 
 
p#inf-der {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background-color: #B22222;
} 
 
p#inf-izq {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: #DC143C;
} 
 
p#sup-der {
    position: absolute; 
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background-color: #CD5C5C;
} 
