main{
    position: absolute;
    top: 0;
    left: 0;
    width: 900px;
    height: 500px;
    background-color: #FFA07A;
}

p{
    margin: 0;
    font-family: sans-serif;
    font-size: 300%;
    text-align: justify;
}
p#sup-izq {
    position: absolute;
    bottom: 66px;
    left: 17px;
    width: 865px;
    height: 113px;
    background-color: #FA8072;
} 
 
p#inf-der {
    position: absolute;
    top: 66px;
    left: 17px;;
    width: 865px;
    height: 113px;
    background-color: #B22222;
} 
 
p#inf-izq {
    position: absolute;
    top: 15px;
    left: 89px;
    width: 191px;
    height: 468px;
    background-color: #DC143C;
} 
 
p#sup-der {
    position: absolute; 
    top: 15px;
    right: 89px;
    width: 191px;
    height: 468px;
    background-color: #CD5C5C;
} 
.bordesolido{
    border-color:black;
    border-width: 1px;
    border-style: solid;
 }

