﻿
@{
    ViewBag.Title = "Contacto";


}
@Styles.Render("~/Content/Styles3.css")
@*<link rel="stylesheet" href="~/Content/Styles3.css" type="text/css">*@
@Scripts.Render("~/Scripts/main.js")


<div class="contenedor">
    <div class="contactos">

        <form action="" method="post">

            <h2>CONTACTO</h2>
            <input type="text" name="Nombre" placeholder="Nombre" id="nombre" required>
            <input type="email" name="Correo" placeholder="Correo electróico" id="correo" required>
            <input type="text" name="Asunto" placeholder="Asunto" id="asunto" required>
            <textarea name="mensaje" id="mensaje" placeholder="mensaje" required></textarea>
            <button type="button" id="boton" onclick="validarFormulario()">Enviar</button>


        </form>
    </div>

    <div class="ubicacion">
        <h2>HORARIOS DE ATENCION</h2>
        <h3>Correo Electronico</h3>
        <div id="map">

        </div>

    </div>


    @if (ViewBag.alerta != null)
    {
        <script type="text/javascript">



            alert("@ViewBag.alerta");

        </script>

    }

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>    
    @*<script type="text/javascript">
        function iniciarMap() {
            var coord = { lat: -24.1854092, lng: -65.3090926 };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: coord
            });
            var marker = new google.maps.Marker({
                position: coord,
                map: map
            });
        }
    </script>*@



</div>



