main{
    position: absolute;
    top: 0;
    left: 0;
    width: 461px;
    height: 230px;
    background-color: #FFA07A;
}

p{
    margin: 0;
    font-family: sans-serif;
    font-size: 300%;
    text-align: justify;
}

.tamaño{
    width: 113px;
    height: 228px;
    background-color: #FA8072;
    color: black;
    font-size: 50px;
    float: left;

    
}
.tamaño2{
    width: 113px;
    height: 228px;
    background-color: #B22222;
    color: black;
    font-size: 50px;
    float: left;

}
.tamaño3{
    width: 113px;
    height: 228px;
    background-color: #DC143C;
    color: black;
    font-size: 50px;
    float: left;

}
.tamaño4{
    width: 113px;
    height: 228px;
    background-color: #CD5C5C;
    color: black;
    font-size: 50px;
    float: left;

}
.caja{
    position: static;
}
.bordesolido{
    border-color:black;
    border-width: 1px;
    border-style: solid;
 }
