*{
    padding: 0;
    margin: 0;
}

main{
    margin-top: 0;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom:40% ;
    width: 40%; 
    display: block;
}
body{
    padding: 10px;
    border:black 1px solid;
     
}
header{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 0;
    width: 98%;
    text-align: center; letter-spacing: 1.6em;word-spacing: 2em;
    background-color: lightgray;
    color: blue;
    size: 24px;
    font-weight: bold;
    padding:5px; 
}
h2{
    padding:10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkred;
    size: 18px;
    letter-spacing: 0.4em;
}
article{
    padding: 10px 20px;
}
section{
    border: black 1px solid;
    
}
.year{
    font-weight: bold;
}
p{
    padding: 10px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cajapadre{
    float: left;
}
.caja{
    position: static;
    padding-left: 101px;
    width: 80%;

}




