﻿@model List<Pacientes.Models.Paciente>

@{
    ViewBag.Title = "Home Page";
}

<h2>Lista de Pacientes</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Domicilio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var paciente in Model)
        {
        <tr id="@paciente.ID">
            <td>@paciente.ID</td>
            <td>@paciente.Nombre</td>
            <td>@paciente.Apellido</td>
            <td>@paciente.Edad</td>
            <td>@paciente.Domicilio</td>
            <td id="@paciente.ID">
                <button class="btn btn-default btn-sm" title="Editar" onclick="editar (@paciente.ID)">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                <button class="btn btn-primary btn-sm" title="Eliminar" onclick="eliminar (@paciente.ID)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </td>
        </tr>

        }
    </tbody>

</table>
