body {
    margin: 0;
    background-color: #ADD8E6;
    font-family: sans-serif;
    font-size: 32px;
    text-align: justify;
    }
    header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #191970;
    color: white;
    }
    main {
    display: block;
    margin: 128px 10% 0;
    }
    h1 {
    margin: 0;
    font-size: 40px;
    }
    h2 {
    margin: 0;
    background-color: #0000CD;
    color: white;
    font-size: 36px;
    text-align: center;
    }
    article {
    width: 80%;
    border-radius: 10px;
    margin: 40px 10%;
    padding-bottom: 20px;
    background-color: white;
}
h3 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding-left: 20px;
    background-color: #5F9EA0;
    color: white;
    font-size: 30px;
}
p{
    font-size: 20px;
    margin: 10px;
}